{% extends 'base.html' %}

{% block head %}
    <title>Task Master</title>
{% endblock %}

{% block body %}
    <h1 style="text-align: center">Task Master</h1>
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Action</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{ task.idx }}">Delete</a>
                    <br/>
                    <a href="/update/{{ task.idx }}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <form action="/" method="post">
        <input type="text" name="content" id="content">
        <button>Add task</button>
    </form>
{% endblock %}